<%%= f.error_messages %>
<ul>
<%- for attribute in attributes -%>
  <li>
    <%%= f.label :<%= attribute.name %> %><br />
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  </li>
<%- end -%>
</ul>
