
  <%%= f.error_messages %>
<ul>
<%- for attribute in model_attributes -%>
  <li class="field">
    <%%= f.label :<%= attribute.name %> %>
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  </li>
<%- end -%>
</ul>